# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments (falls du sie doch mal im Projekt hättest)
venv/
.env/
env/

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/

# Python environment files
*.env
*.venv

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db
